<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Todo Page</title>
    <link th:rel="stylesheet" th:href="@{/todo.css}" >
    <script th:src="@{/todo.js}"></script>
</head>
<body>
    <div th:class="container">
        <h1>Todos att utföra</h1>
        <form th:method="get" th:action="@{/todo}">
            <input
                    th:id="input-search"
                    th:value="${param.tcon != null ? param.tcon.get(0).toString() : ''}"
                    th:name="tcon" th:type="text"
                    th:placeholder="Search..."
            >
            <input th:id="search-button" th:type="submit" th:value="Search">
        </form>
        <div th:class="todo-list" th:each="todo : ${todoList}">
            <h3 th:text="${todo.getTitle()}"></h3>
            <p th:text="${todo.getDescription()}"></p>
            <button
                th:data-id="${todo.getId()}"
                th:onclick="handleDelete(this.getAttribute('data-id'))"
            >
                Delete
            </button>
            <hr>
        </div>
        <a th:id="addtodo-button" th:href="@{/todoform}"><button>Add Todo</button></a>
    </div>
</body>
</html>